# dev or production
NODE_ENV=dev
DB_NAME=modx
DB_USER=modx
DB_PASSWORD=modx
DB_HOST=db_modx
COMPOSE_FILE=docker-compose.${NODE_ENV}.yml
HTTP_PROXY_PORT="2786"
HTTPS_PROXY=138.124.21.47:${HTTP_PROXY_PORT};
HTTP_PROXY=138.124.21.47:${HTTP_PROXY_PORT};
HTTP_PROXY_USERNAME="user406350"
HTTP_PROXY_PASSWORD="f5z9sd"